<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MVCRiderDataBaseEntities" connectionString="metadata=res://*/MVCRiderModel.csdl|res://*/MVCRiderModel.ssdl|res://*/MVCRiderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=E:\Projects\MVC-Rider\MVCRider\App_Data\MVCRiderDataBase.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>